[submodule "Stats506_F20"]
	path = Stats506_F20
	url = https://github.com/jbhender/Stats506_F20.git
[submodule "Stats506_public"]
	path = Stats506_public
	url = https://github.com/ZhihaoXu/Stats506_public.git
[submodule "final_project"]
	path = final_project
	url = https://github.com/ZhihaoXu/Stats506_finalproject.git
[submodule "mid_project"]
	path = mid_project
	url = https://github.com/ZhihaoXu/Stats506_midproject.git
